@use "./mixins" as *;
@use "./typography" as *;
@use "../partials/variables" as *;

/* General */
body {
    font-family: Avenir, monospace;
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style-type: none;
}
header {
    margin: 0;
}

/* Navigation Bar */
.nav-bar {
    background-color: $bandsite__black;
    margin: 0;

    @include tablet {
        @include row;
        justify-content: center
    }
    &__smooth {
        @include tablet {
            @include row;
            width: 92%;
            max-width: 112vh;
        }
        @include desktop {
            width: 80%;
        }
    }
    &__eq {
        @include column;
        padding-top: 0.8rem;
        width: 100%;
        padding-top: 1.5rem;

        @include tablet {
            @include row;
            height: 7vw;
            max-height: 5.8vh;
            justify-content: space-between;
            align-items: flex-start;
            padding-top: 1.4rem;
            max-width: 40vh;
        }
    }

    &__logo {
        font-weight: lighter;
        margin: 0;
        padding: 0;
        transition: 0.3s;
        color: $mercury;
        @include mobile-header;
        font-weight: lighter;
    
        &:hover {
            transform: scale(1.2);
            color: $white;
        }
    
        @include tablet {
            font-size: 1.5rem;
        }
    }

    &__items {
        @include row;
        justify-content: space-between;
        margin: 0;
        padding: 0;
        text-align: center;
        padding-top: .4rem;
        font-size: 1.5rem;
        width: 100%;

        &--left {
            padding: 0;
            @include current-page--mobile;
            color: $white;
            transition: 0.8s;

            &:hover {
                font-weight: lighter;
                color: $silver;
            }

            &:active {
                color: $white;
            }

            @include tablet {
                @include current-page--tablet;
            }
        }

        &--right {
            width: 50%;
            transition: 0.5s;
            color: $silver;
            @include current-page--mobile;
            border-color: $bandsite__black;

            &:hover {
                @include current-page--mobile;
                font-weight: lighter;

                @include tablet {
                    @include current-page--tablet;
                    border: 0;
                }
            }

            &:active {
                @include current-page--mobile;
                color: $white;

                @include tablet {
                    @include current-page--tablet;
                    border: 0;
                }
            }

            @include tablet {
                padding-bottom: 0.6rem;
            }
        }

        @include tablet {
            width: 60%;
            max-width: 28vh;
            font-size: .875rem;
            padding-left: 2rem;
        }
    }
}

/* Footer */
footer {
    background-color: $bandsite__black;
    color: $white;
    padding-left: 6%;

    & h2 {
        @include mobile-header;
        padding: 0;
        padding-top: 1.4rem;
        padding-bottom: 0.2rem;

        @include tablet {
            padding-top: 1rem;
            @include section-header--tablet;
            padding-left: 0;
            font-size: 2.2rem;
        }
    }

    & p,
    & a {
        @include mobile-par;

        @include tablet {
            font-size: 0.813rem;
            line-height: 1.25rem;
        }
    }

    & h4 {
        @include mobile-sub;

        &:nth-child(even) {
            margin-bottom: 1rem;
            margin-top: 0;

            @include tablet {
                margin-bottom: 1.4rem;
            }
        }

        &:nth-child(odd) {
            margin-top: 1.2rem;
            margin-bottom: 0;

            @include tablet {
                margin-top: 0.8rem;
            }
        }

        @include tablet {
            font-size: 0.875rem;
            line-height: 1.25rem;
        }
    }

    & p:nth-child(even) {
        margin-bottom: 0.8rem;
        margin-top: 0;

        @include tablet {
            padding-bottom: 0.6rem;
        }
    }

    & p:nth-child(odd) {
        margin-bottom: 0;
    }

    @include tablet {
        padding-left: 0;
        @include column;
    }
}

#footer__logo--mobile {
    margin-top: 4rem;
    font-size: 1.5em;
    font-weight: lighter;
    margin-bottom: 0.2rem;

    @include tablet {
        display: none;
    }
}
#footer__logo--tablet {
    display: none;
    font-size: 1.5em;
    font-weight: lighter;

    @include tablet {
        display: block;
        padding-top: 1.2rem;
    }
}
#footer__top--tablet {
    @include tablet {
        @include row;
        justify-content: space-between;
        padding-top: 1rem;
        width: 90%;
        max-width: 112vh;
    }
}
.social {
    @include tablet {
        @include row;
        width: 8rem;
        justify-content: flex-start;
    }

    &__row {
        margin: 1rem 0;
        margin-bottom: 0;

        @include tablet {
            margin: 0;
            padding-top: 1.2rem;
            @include row;
            justify-content: space-between;
            width: 7.4rem;
            max-width: 11rem;
            margin-left: 6%;
        }
    }

    & img {
        transition: 0.4s;
        margin-right: 1.6rem;

        &:hover {
            transform: scale(1.2);
        }

        @include tablet {
            margin-right: 0;
        }
    }

    @include tablet {
        width: 60%;
    }
}

.contact {
    &__person {
        @include tablet {
            margin-right: 3.6rem;
        }

        @include desktop {
            margin-right: 6%;
        }
    }

    @include tablet {
        @include row;
        justify-content: flex-start;
        width: 90%;
        max-width: 64rem;
    }

    & a {
        padding-bottom: 0.2rem;
    }
}
.copyright {
    font-size: 0.625rem;
    line-height: 1.25rem;
    padding-bottom: 1rem;

    @include tablet {
        margin-top: 3rem;
        font-size: 0.875rem;
        padding-bottom: 2.2rem;
        width: 90%;
        max-width: 64rem;
    }
}
