@use "./mixins" as *;
@use "./typography" as *;
@use "../partials/variables" as *;

/* General */
body {
    font-family: avenirnext, avenir, Arial, Helvetica, sans-serif;
    margin: 0;

    header {
        margin: 0;
    }

    & ul {
        list-style-type: none;
    }

    & a {
        text-decoration: none;
        color: inherit;
    }
}

/* Navigation Bar */
.nav-bar {
    background-color: $bandsite__black;
    margin: 0;

    @include tablet {
        @include row;
        justify-content: center;
        height: 6.6vh;
    }
    &__smooth {
        @include tablet {
            @include row;
            width: 92%;
            max-width: 112vh;
        }
        @include desktop {
            width: 81vw;
            max-width: 90%;
        }
    }
    &__eq {
        @include column;
        width: 100%;
        padding-top: 0.8rem;

        @include tablet {
            @include row;
            height: 7vw;
            max-height: 5.8vh;
            justify-content: space-between;
            align-items: flex-start;
            padding-top: 1.4rem;
            max-width: 40vh;
        }
    }

    &__logo {
        margin: 0;
        padding: 0;
        transition: 0.3s;
        color: $mercury;
        @include mobile-header;
        font-weight: lighter;

        &:hover {
            transform: scale(1.2);
            color: $white;
        }

        @include tablet {
            font-size: $sub-tab;
        }
    }

    &__items {
        @include row;
        justify-content: space-between;
        margin: 0;
        padding: 0;
        text-align: center;
        padding-top: 0.4rem;
        font-size: $sub-mob;
        width: 100%;

        &--left {
            padding: 0;
            @include current-page--mobile;
            color: $white;
            transition: 0.8s;

            &:hover {
                font-weight: lighter;
                color: $silver;
            }

            &:active {
                color: $white;
            }

            @include tablet {
                @include current-page--tablet;
            }
        }

        &--right {
            width: 50%;
            transition: 0.5s;
            color: $mercury;
            @include current-page--mobile;
            border-color: $bandsite__black;

            &:hover {
                @include current-page--mobile;
                font-weight: lighter;

                @include tablet {
                    @include current-page--tablet;
                    border: 0;
                }
            }

            &:active {
                @include current-page--mobile;
                color: $white;

                @include tablet {
                    @include current-page--tablet;
                    border: 0;
                }
            }

            @include tablet {
                padding-bottom: 0.6rem;
            }
        }

        @include tablet {
            width: 60%;
            max-width: 28vh;
            font-size: $bod-tab;
            padding-left: 2.4rem;
        }
    }
}

/* Footer */
.footer {
    background-color: $bandsite__black;
    color: $white;
    @include column;
    align-items: center;

    &__eq {
        @include column;
        align-items: start;
        width: 90%;

        @include tablet {
            width: 90%;
            max-width: 110vh;
        }

        @include desktop {
            width: 80%;
            max-width: 140vh;
        }
    }

    &__top--tablet {
        @include tablet {
            @include row;
            justify-content: space-between;
            padding-top: 1rem;
            width: 100%;
        }
        @include desktop {
            max-width: 200vh;
        }
    }

    &__social {
        @include tablet {
            @include row;
            justify-content: flex-start;
        }

        &-row {
            margin: 1rem 0;
            margin-bottom: 0;

            @include tablet {
                margin: 0;
                padding-top: 1.2rem;
                @include row;
                justify-content: space-between;
                width: 13.4vh;
                margin-left: 6%;
            }
        }

        &-heading {
            @include mobile-header;
            padding: 0;
            padding-top: 1.4rem;
            padding-bottom: 0.2rem;

            @include tablet {
                padding-top: 1rem;
                @include section-header--tablet;
                padding-left: 0;
                font-size: 2.2rem;
            }
        }

        &-img {
            transition: 0.4s;
            margin-right: 1.6rem;

            &:hover {
                transform: scale(1.2);
            }

            @include tablet {
                margin-right: 0;
            }
        }

        @include tablet {
            width: 60%;
        }
    }

    &__contact {
        &-email {
            font-size: 0.8rem;

            @include desktop {
                font-size: 0.9rem;
            }
        }

        @include tablet {
            @include row;
            justify-content: space-between;
            width: 96%;
            max-width: 77vh;
        }

        @include desktop {
            width: 72%;
            max-width: 140vh;
        }

        &-title {
            @include mobile-sub;

            &:nth-child(even) {
                margin-bottom: 1rem;
                margin-top: 0;

                @include tablet {
                    margin-bottom: 1.4rem;
                }
            }

            &:nth-child(odd) {
                margin-top: 1.2rem;
                margin-bottom: 0;

                @include tablet {
                    margin-top: 0.8rem;
                }
            }

            @include tablet {
                font-size: $bod-tab;
                line-height: 1.25rem;
            }
        }

        &-details {
            @include mobile-par;

            @include tablet {
                font-size: $bod-tab;
                line-height: $foot-line;
            }

            &:nth-child(even) {
                margin-bottom: 0.8rem;
                margin-top: 0;

                @include tablet {
                    padding-bottom: 0.6rem;
                }
            }

            &:nth-child(odd) {
                margin-bottom: 0;

                @include tablet {
                    padding-left: 0;
                }
            }
        }
    }

    &__logo {
        &--mobile {
            margin-top: 4rem;
            font-size: $head-mob;
            font-weight: lighter;
            margin-bottom: 0.2rem;

            @include tablet {
                display: none;
            }
        }
        &--tablet {
            display: none;
            font-size: $sub-tab;
            font-weight: lighter;

            @include tablet {
                display: block;
                padding-top: 1.2rem;
            }
        }
    }

    &__copyright {
        font-size: 0.625rem;
        line-height: $foot-line;
        padding-bottom: 1rem;

        @include tablet {
            margin-top: 3rem;
            font-size: $bod-tab;
            padding-bottom: 2.2rem;
            width: 90%;
            max-width: 64rem;
        }
    }
}
