@use "./typography" as *;

@mixin tablet {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 1280px) {
        @content;
    }
}

@mixin column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@mixin current-page--mobile {
    border-bottom: 0.2rem solid white;
    padding-bottom: .6rem;
    width: 50%;
    font-weight: 500;
}

@mixin current-page--tablet {
    border: 0;
    text-decoration: underline 0.188rem;
    text-underline-offset: 1.62rem;
}

@mixin hero {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 58vw;
}

@mixin hero-overlay {
    background: rgba(40, 40, 40, 0.5);
    width: 100%;
    height: 100%;
}

@mixin mobile-header {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    letter-spacing: 0.04rem;
    margin: 0;
}

@mixin mobile-sub {
    font-weight: 600;
    font-size: $sub-mob;
    line-height: 1.375rem;;
}

@mixin mobile-par {
    font-size: $bod-mob;
    line-height: 1.125rem;
    font-weight: 400;
}

@mixin section-header--tablet {
    font-size: $head-tab;
    line-height: 2.75rem;
    font-weight: 700;
}
