@mixin font {
    @font-face {
        font-family: "avenirnext";
        src: url(../../assets/fonts/AvenirNextLTPro-Regular.otf) format ("opentype");
        src: url(../../assets/fonts/AvenirNextLTPro-Bold.otf) format ("opentype");
        src: url(../../assets/fonts/AvenirNextLTPro-Demi.otf) format ("opentype");
    }
}
