@use "./typography" as *;

$typeface: avenir;
$bandsite__black: #323232;
$silver: #AFAFAF;
$white: #FFFFFF;
$bandsite__dark-black: #000000;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;
$bod-mob: .813rem;
$sub-mob: .875rem;
$bod-tab: .875rem;
$sub-tab: 1.5rem;
$head-mob: 1.5rem;
$head-tab: 2.25rem;
$foot-line: 1.25rem;


