/* General */
body {
  font-family: Avenir, monospace;
  margin: 0;
}
body header {
  margin: 0;
}
body ul {
  list-style-type: none;
}
body a {
  text-decoration: none;
  color: inherit;
}

/* Navigation Bar */
.nav-bar {
  background-color: #323232;
  margin: 0;
}
@media (min-width: 768px) {
  .nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 7.68vh;
  }
}
@media (min-width: 768px) {
  .nav-bar__smooth {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 92%;
    max-width: 112vh;
  }
}
@media (min-width: 1280px) {
  .nav-bar__smooth {
    width: 81vw;
    max-width: 90%;
  }
}
.nav-bar__eq {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 0.8rem;
}
@media (min-width: 768px) {
  .nav-bar__eq {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 7vw;
    max-height: 5.8vh;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 1.4rem;
    max-width: 40vh;
  }
}
.nav-bar__logo {
  font-weight: lighter;
  margin: 0;
  padding: 0;
  transition: 0.3s;
  color: #E1E1E1;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  letter-spacing: 0.04rem;
  margin: 0;
  font-weight: lighter;
}
.nav-bar__logo:hover {
  transform: scale(1.2);
  color: #FFFFFF;
}
@media (min-width: 768px) {
  .nav-bar__logo {
    font-size: 1.5rem;
  }
}
.nav-bar__items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  text-align: center;
  padding-top: 0.4rem;
  font-size: 0.875rem;
  width: 100%;
}
.nav-bar__items--left {
  padding: 0;
  border-bottom: 0.2rem solid #FFFFFF;
  padding-bottom: 0.6rem;
  width: 50%;
  font-weight: 500;
  color: #FFFFFF;
  transition: 0.8s;
}
.nav-bar__items--left:hover {
  font-weight: lighter;
  color: #AFAFAF;
}
.nav-bar__items--left:active {
  color: #FFFFFF;
}
@media (min-width: 768px) {
  .nav-bar__items--left {
    border: 0;
    -webkit-text-decoration: underline 0.188rem;
            text-decoration: underline 0.188rem;
    text-underline-offset: 1.62rem;
  }
}
.nav-bar__items--right {
  width: 50%;
  transition: 0.5s;
  color: #AFAFAF;
  border-bottom: 0.2rem solid #FFFFFF;
  padding-bottom: 0.6rem;
  width: 50%;
  font-weight: 500;
  border-color: #323232;
}
.nav-bar__items--right:hover {
  border-bottom: 0.2rem solid #FFFFFF;
  padding-bottom: 0.6rem;
  width: 50%;
  font-weight: 500;
  font-weight: lighter;
}
@media (min-width: 768px) {
  .nav-bar__items--right:hover {
    border: 0;
    -webkit-text-decoration: underline 0.188rem;
            text-decoration: underline 0.188rem;
    text-underline-offset: 1.62rem;
    border: 0;
  }
}
.nav-bar__items--right:active {
  border-bottom: 0.2rem solid #FFFFFF;
  padding-bottom: 0.6rem;
  width: 50%;
  font-weight: 500;
  color: #FFFFFF;
}
@media (min-width: 768px) {
  .nav-bar__items--right:active {
    border: 0;
    -webkit-text-decoration: underline 0.188rem;
            text-decoration: underline 0.188rem;
    text-underline-offset: 1.62rem;
    border: 0;
  }
}
@media (min-width: 768px) {
  .nav-bar__items--right {
    padding-bottom: 0.6rem;
  }
}
@media (min-width: 768px) {
  .nav-bar__items {
    width: 60%;
    max-width: 28vh;
    font-size: 0.875rem;
    padding-left: 2rem;
  }
}

/* Footer */
.footer {
  background-color: #323232;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
}
.footer__eq {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: start;
  width: 90%;
}
@media (min-width: 768px) {
  .footer__eq {
    width: 90%;
    max-width: 110vh;
  }
}
@media (min-width: 768px) {
  .footer__top--tablet {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    width: 100%;
  }
}
@media (min-width: 1280px) {
  .footer__top--tablet {
    max-width: 200vh;
  }
}
.footer h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  letter-spacing: 0.04rem;
  margin: 0;
  padding: 0;
  padding-top: 1.4rem;
  padding-bottom: 0.2rem;
}
@media (min-width: 768px) {
  .footer h2 {
    padding-top: 1rem;
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
    padding-left: 0;
    font-size: 2.2rem;
  }
}
.footer h4 {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.375rem;
}
.footer h4:nth-child(even) {
  margin-bottom: 1rem;
  margin-top: 0;
}
@media (min-width: 768px) {
  .footer h4:nth-child(even) {
    margin-bottom: 1.4rem;
  }
}
.footer h4:nth-child(odd) {
  margin-top: 1.2rem;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .footer h4:nth-child(odd) {
    margin-top: 0.8rem;
  }
}
@media (min-width: 768px) {
  .footer h4 {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
.footer p {
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-weight: 400;
}
@media (min-width: 768px) {
  .footer p {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
.footer p:nth-child(even) {
  margin-bottom: 0.8rem;
  margin-top: 0;
}
@media (min-width: 768px) {
  .footer p:nth-child(even) {
    padding-bottom: 0.6rem;
  }
}
.footer p:nth-child(odd) {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .footer p:nth-child(odd) {
    padding-left: 0;
  }
}
@media (min-width: 768px) {
  .footer__social {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
}
.footer__social--row {
  margin: 1rem 0;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .footer__social--row {
    margin: 0;
    padding-top: 1.2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 13.4vh;
    margin-left: 6%;
  }
}
.footer__social img {
  transition: 0.4s;
  margin-right: 1.6rem;
}
.footer__social img:hover {
  transform: scale(1.2);
}
@media (min-width: 768px) {
  .footer__social img {
    margin-right: 0;
  }
}
@media (min-width: 768px) {
  .footer__social {
    width: 60%;
  }
}
.footer__contact--email {
  font-size: 0.8rem;
}
@media (min-width: 1280px) {
  .footer__contact--email {
    font-size: 0.9rem;
  }
}
@media (min-width: 768px) {
  .footer__contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 96%;
    max-width: 77vh;
  }
}
@media (min-width: 1280px) {
  .footer__contact {
    width: 72%;
    max-width: 140vh;
  }
}
.footer__logo--mobile {
  margin-top: 4rem;
  font-size: 1.5rem;
  font-weight: lighter;
  margin-bottom: 0.2rem;
}
@media (min-width: 768px) {
  .footer__logo--mobile {
    display: none;
  }
}
.footer__logo--tablet {
  display: none;
  font-size: 1.5rem;
  font-weight: lighter;
}
@media (min-width: 768px) {
  .footer__logo--tablet {
    display: block;
    padding-top: 1.2rem;
  }
}
.footer__copyright {
  font-size: 0.625rem;
  line-height: 1.25rem;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .footer__copyright {
    margin-top: 3rem;
    font-size: 0.875rem;
    padding-bottom: 2.2rem;
    width: 90%;
    max-width: 64rem;
  }
}

/* Hero Section */
.hero {
  background-image: url("../assets/Images/hero-bio.jpg");
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 58vw;
}
.hero__overlay {
  background: rgba(40, 40, 40, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.hero__overlay--align {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
}
.hero__overlay--align h1 {
  margin: 0;
  color: #FFFFFF;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  letter-spacing: 0.04rem;
  margin: 0;
}
@media (min-width: 768px) {
  .hero__overlay--align h1 {
    font-size: 3.75rem;
    line-height: 4.25rem;
    margin-left: 1.4rem;
    margin-top: 2rem;
  }
}
@media (min-width: 1280px) {
  .hero__overlay--align h1 {
    margin-left: 8rem;
    font-size: 3.8rem;
  }
}
@media (min-width: 768px) {
  .hero {
    height: 58.4vw;
  }
}
@media (min-width: 1280px) {
  .hero {
    height: 54vw;
  }
}

/* About Section */
.about {
  color: #323232;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about__top-eq {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-width: 1280px) {
  .about__top-eq {
    align-items: flex-start;
    width: 66%;
    max-width: 113vh;
  }
}
.about__photo-and-quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about__photo-and-quote--saying {
  margin-top: 0.8rem;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.375rem;
  width: 88%;
  max-width: 124vh;
}
@media (min-width: 768px) {
  .about__photo-and-quote--saying {
    width: 76%;
    font-weight: 600;
    font-size: 1.375rem;
    line-height: 2rem;
    margin-top: 2rem;
    margin-bottom: 0.9rem;
    text-align: start;
  }
}
@media (min-width: 1280px) {
  .about__photo-and-quote--saying {
    width: 82%;
    margin-top: 2.4rem;
    line-height: 2rem;
    font-size: 1.4rem;
    max-width: 138vh;
  }
}
.about__photo-and-quote--author {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.375rem;
  width: 88%;
  margin-top: 0;
}
@media (min-width: 768px) {
  .about__photo-and-quote--author {
    font-weight: 600;
    width: 76%;
    font-size: 0.976rem;
  }
}
@media (min-width: 1280px) {
  .about__photo-and-quote--author {
    font-size: 1rem;
    width: 66%;
  }
}
.about__heading {
  width: 90%;
}
@media (min-width: 768px) {
  .about__heading {
    max-width: 110vh;
    height: 100%;
  }
}
@media (min-width: 1280px) {
  .about__heading {
    width: 80%;
    max-width: 135vh;
  }
}
.about__heading--musicians {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  letter-spacing: 0.04rem;
  margin: 0;
  margin-top: 1.2rem;
  margin-bottom: 0.6rem;
  align-self: flex-start;
}
@media (min-width: 768px) {
  .about__heading--musicians {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
    margin-top: 3.6rem;
    margin-bottom: 1.8rem;
    font-weight: 600;
  }
}
@media (min-width: 1280px) {
  .about__heading--musicians {
    margin-top: 4rem;
  }
}
.about__heading img {
  width: 100%;
  height: 48vw;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 113vh;
}
@media (min-width: 768px) {
  .about__heading img {
    width: 84%;
    height: 40.2vw;
  }
}
@media (min-width: 1280px) {
  .about__heading img {
    margin-top: 0.8rem;
    height: 35vw;
  }
}
.about__main-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
  width: 88%;
}
@media (min-width: 768px) {
  .about__main-text {
    width: 76%;
    max-width: 91vh;
  }
}
@media (min-width: 1280px) {
  .about__main-text {
    align-items: center;
    width: 66%;
    max-width: 113vh;
  }
}
.about__main-text h3 {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.375rem;
  margin-top: 1rem;
  align-self: flex-start;
  font-weight: 500;
}
@media (min-width: 768px) {
  .about__main-text h3 {
    font-size: 1.52rem;
    font-weight: 600;
    margin-top: 2.6rem;
    margin-bottom: 1rem;
  }
}
@media (min-width: 1280px) {
  .about__main-text h3 {
    font-size: 1.4rem;
    margin-left: 0;
    margin-bottom: 0.4rem;
  }
}
.about__main-text--paragraphs {
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-weight: 400;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .about__main-text--paragraphs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.8rem;
  }
}
@media (min-width: 1280px) {
  .about__main-text--paragraphs {
    justify-content: space-between;
  }
}
.about__main-text--paragraphs p {
  margin-top: 1rem;
}
@media (min-width: 768px) {
  .about__main-text--paragraphs p {
    width: 48%;
    font-size: 0.875rem;
    line-height: 1.375rem;
    margin-bottom: 0.2rem;
    max-width: 43vh;
  }
}
@media (min-width: 1280px) {
  .about__main-text--paragraphs p {
    width: 49%;
    margin-right: 0;
    line-height: 1.25rem;
    max-width: 80vh;
  }
}

/* Gallery */
.gallery {
  background-color: #FAFAFA;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gallery__eq {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .gallery__eq {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: flex-start;
    width: 90%;
    max-width: 110vh;
  }
}
@media (min-width: 1280px) {
  .gallery__eq {
    width: 79%;
    max-width: 600vh;
  }
}
.gallery__eq h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  letter-spacing: 0.04rem;
  margin: 0;
  padding-top: 1.2rem;
  margin-bottom: 0.8rem;
}
@media (min-width: 768px) {
  .gallery__eq h2 {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
    margin-bottom: 2.2rem;
    padding-top: 2.6rem;
    padding-left: 0;
  }
}
.gallery__images {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .gallery__images {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
}
.gallery img {
  height: 50vw;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .gallery img {
    width: 31.6%;
    height: 40%;
    margin-bottom: 1.6rem;
  }
}
@media (min-width: 768px) {
  .gallery {
    padding-top: 1rem;
  }
}

.comment {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
  padding-bottom: 1rem;
}
.comment__all {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  align-items: flex-start;
}
.comment__all--boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  width: 100%;
  max-width: 74vh;
}
.comment__all--boxes hr {
  border-top: 1px solid #E1E1E1;
  width: 100%;
}
.comment__old--top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border: 1px solid green;
}
.comment__old--top h3 {
  margin: 0.5rem 0;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.375rem;
  color: #323232;
}
.comment__old--top time {
  color: #AFAFAF;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: lighter;
}
.comment__new {
  width: 100%;
}
.comment__new input {
  border: #E1E1E1 0.1rem solid;
  width: 98%;
  border-radius: 4px;
  background-color: #FAFAFA;
}
.comment__new input::-moz-placeholder {
  color: #323232;
  font-weight: lighter;
  letter-spacing: 0.04rem;
  padding-left: 4%;
}
.comment__new input::placeholder {
  color: #323232;
  font-weight: lighter;
  letter-spacing: 0.04rem;
  padding-left: 4%;
}
.comment__new h4 {
  color: #AFAFAF;
  font-size: 0.813rem;
  font-weight: 500;
  margin: 0;
}
.comment__new button {
  background-color: #323232;
  color: #FFFFFF;
  border-radius: 4px;
  width: 100%;
  height: 2.5rem;
}
.comment__new button:hover {
  background-color: #000000;
}
@media (min-width: 768px) {
  .comment__new button {
    width: 32%;
    align-self: flex-end;
  }
}
.comment__new--name {
  height: 2.25rem;
}
.comment__new--comment {
  height: 5.5rem;
}
.comment__new--comment::-moz-placeholder {
  position: relative;
  bottom: 1.4rem;
}
.comment__new--comment::placeholder {
  position: relative;
  bottom: 1.4rem;
}
.comment__entirely {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-items: flex-start;
  width: 100%;
  border: 1px solid red;
}
.comment__entirely img {
  border-radius: 50%;
  width: 12.5%;
  margin-top: 1.2rem;
  max-width: 6.2vh;
}
.comment__entirely--text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  align-items: flex-start;
  padding-left: 1rem;
  border: 1px solid blue;
}
.comment__entirely--text p {
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-weight: 400;
  color: #323232;
}/*# sourceMappingURL=bio.css.map */