@use "./partials/variables" as *;
@use "./partials/mixins" as *;
@use "./partials/typography" as *;
@use "./partials/global";

/* Hero Section */
.hero {
    background-image: url("../assets/Images/hero-bio.jpg");
    margin: 0;
    @include hero;

    @include tablet {
        height: 58.4vw;
    }

    @include desktop {
        height: 54vw;
    }

    &__overlay {
        @include hero-overlay;
        @include row;
        justify-content: center;

        &--align {
            @include row;
            width: 90%;
        }
    }

    &__head {
        margin: 0;
        color: $white;
        @include mobile-header;
        font-weight: 700;

        @include tablet {
            font-size: 3.75rem;
            line-height: 4.25rem;
            margin-left: 1.4rem;
            margin-top: 2rem;
        }

        @include desktop {
            margin-left: 4rem;
            font-size: 3.8rem;
        }
    }
}

/* About Section */
.about {
    color: $bandsite__black;
    @include column;
    background-color: $white;

    &__top-eq {
        @include column;
        justify-content: center;

        @include desktop {
            align-items: flex-start;
            width: 66%;
            max-width: 113vh;
        }
    }

    &__photo-and-quote {
        @include column;
        justify-content: center;

        &--saying {
            margin-top: 0.8rem;
            @include mobile-sub;
            width: 88%;
            max-width: 124vh;

            @include tablet {
                width: 76%;
                font-weight: 600;
                font-size: 1.375rem;
                line-height: 2rem;
                margin-top: 2rem;
                margin-bottom: 0.9rem;
                text-align: start;
            }
            @include desktop {
                width: 82%;
                margin-top: 2.4rem;
                line-height: 2rem;
                font-size: 1.4rem;
                max-width: 138vh;
            }
        }
        &--author {
            @include mobile-sub;
            width: 88%;
            margin-top: 0;

            @include tablet {
                font-weight: 600;
                width: 76%;
                font-size: 0.976rem;
            }

            @include desktop {
                font-size: 1rem;
                width: 66%;
            }
        }
    }

    &__heading {
        width: 90%;

        @include tablet {
            max-width: 110vh;
            height: 100%;
        }

        @include desktop {
            width: 80%;
            max-width: 135vh;
        }

        &--musicians {
            @include mobile-header;
            margin-top: 1.2rem;
            margin-bottom: 0.6rem;
            align-self: flex-start;

            @include tablet {
                @include section-header--tablet;
                margin-top: 3.6rem;
                margin-bottom: 1.8rem;
                font-weight: 600;
            }

            @include desktop {
                margin-top: 4rem;
            }
        }

        &--img {
            width: 100%;
            height: 48vw;
            object-fit: cover;
            max-width: 113vh;

            @include tablet {
                width: 84%;
                height: 40.2vw;
            }

            @include desktop {
                margin-top: 0.8rem;
                height: 35vw;
            }
        }
    }

    &__main-text {
        @include column;
        padding-bottom: 1rem;
        width: 88%;

        @include tablet {
            width: 76%;
            max-width: 91vh;
        }

        @include desktop {
            align-items: center;
            width: 66%;
            max-width: 113vh;
        }

        &--head {
            @include mobile-sub;
            margin-top: 1rem;
            align-self: flex-start;
            font-weight: 500;

            @include tablet {
                font-size: 1.52rem;
                font-weight: 600;
                margin-top: 2.6rem;
                margin-bottom: 1rem;
            }

            @include desktop {
                font-size: 1.4rem;
                margin-left: 0;
                margin-bottom: 0.4rem;
            }
        }

        &--paragraphs {
            @include mobile-par;
            width: 100%;
            @include column;

            @include tablet {
                @include row;
                justify-content: space-between;
                margin-bottom: 0.8rem;
            }

            @include desktop {
                justify-content: space-between;
            }
        }

        &--indiv-par {
            margin-top: 1rem;

            @include tablet {
                width: 48%;
                font-size: 0.875rem;
                line-height: 1.375rem;
                margin-bottom: 0.2rem;
                max-width: 43vh;
            }

            @include desktop {
                width: 49%;
                margin-right: 0;
                line-height: 1.25rem;
                max-width: 80vh;
            }
        }
    }
}

/* Gallery */
.gallery {
    background-color: $alabaster;
    @include column;

    &__eq {
        @include column;

        @include tablet {
            @include column;
            align-items: flex-start;
            width: 90%;
            max-width: 110vh;
        }

        @include desktop {
            width: 79%;
            max-width: 600vh;
        }

        &--head {
            @include mobile-header;
            padding-top: 1.2rem;
            margin-bottom: 0.8rem;
            align-self: flex-start;
            color: $bandsite__black;

            @include tablet {
                @include section-header--tablet;
                margin-bottom: 2.2rem;
                padding-top: 2.6rem;
                padding-left: 0;
            }
        }
    }

    &__images {
        @include column;

        @include tablet {
            @include row;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 100%;
        }

        &--img {
            height: 50vw;
            margin-bottom: 1rem;

            @include tablet {
                width: 31.6%;
                height: 40%;
                margin-bottom: 1.6rem;
            }
            @include desktop {
            }
        }
    }

    @include tablet {
        padding-top: 1rem;
        padding-bottom: 0.8rem;
    }
}

.comment {
    @include column;
    align-items: center;
    padding-bottom: 0.4rem;
    background-color: $white;

    &__all {
        @include column;
        width: 90%;
        align-items: flex-start;

        @include tablet {
            max-width: 110vh;
            margin-bottom: 1.2rem;
        }

        @include desktop {
            width: 80%;
            max-width: 180vh;
        }

        & h2 {
            margin: 0.8rem 0;
            color: $bandsite__black;

            @include tablet {
                @include section-header--tablet;
                margin-top: 2.8rem;
                margin-bottom: 2.2rem;
            }
        }

        &--boxes {
            @include column;
            align-self: center;
            width: 100%;
            max-width: 64vh;

            @include tablet {
                width: 83.6%;
                max-width: 54vh;
            }

            & hr {
                border-top: 1px solid $mercury;
                width: 100%;
            }
        }
    }

    &__old {
        @include tablet {
            margin: 0.8rem 0rem;
        }

        &--top {
            @include row;
            justify-content: space-between;
            width: 100%;

            & h3 {
                margin: 0.2rem 0;
                @include mobile-sub;
                color: $bandsite__black;
            }

            & time {
                color: $silver;
                @include mobile-sub;
                font-weight: lighter;
            }
        }
    }

    &__new {
        width: 100%;

        &-posted {
            width: 100%;
        }

        &--img {
            margin-top: 1.2rem;
        }

        & input {
            border: $mercury 0.1rem solid;
            width: 98%;
            border-radius: 4px;
            background-color: $alabaster;
            padding-left: 1rem;

            &::placeholder {
                color: $bandsite__black;
                font-weight: lighter;
                letter-spacing: 0.04rem;
            }
        }

        & textarea {
            border: $mercury 0.1rem solid;
            width: 98%;
            border-radius: 4px;
            background-color: $alabaster;
            font-family: avenir;
            padding-left: 1rem;

            &::placeholder {
                color: $bandsite__black;
                letter-spacing: 0.04rem;
                font-family: avenir;
                font-weight: 400;
            }
        }

        & h4 {
            color: $silver;
            font-size: 0.8rem;
            font-weight: 500;
            margin: 0;
            padding-bottom: 0.2rem;
        }

        & button {
            background-color: $bandsite__black;
            color: $white;
            border: 0;
            border-radius: 4px;
            width: 100%;
            height: 2.5rem;
            margin-top: 1rem;
            margin-bottom: 0.6rem;
            font-size: $sub-mob;

            &:hover {
                background-color: $bandsite__dark-black;
            }

            @include tablet {
                width: 30%;
                align-self: flex-end;
                margin-top: 1.4rem;
                margin-bottom: 0.8rem;
            }
        }

        &--name {
            height: 2rem;
            margin-bottom: 1.2rem;
            padding-top: 1rem;
        }

        &--comment {
            height: 6rem;
            padding-top: 1rem;
        }
    }

    &__entirely {
        @include row;
        align-items: flex-start;
        width: 100%;

        & img {
            border-radius: 50%;
            width: 12.5%;
            max-width: 5.4vh;
        }

        &--text {
            @include column;
            width: 100%;
            align-items: flex-start;
            padding-left: 1rem;

            & p {
                @include mobile-par;
                color: $bandsite__black;
                margin: 0.2rem 0;

                @include tablet {
                    @include body-tab;
                }
            }
        }
    }
}
