/* General */
body {
  font-family: Avenir, monospace;
  margin: 0;
}
body header {
  margin: 0;
}
body ul {
  list-style-type: none;
}
body a {
  text-decoration: none;
  color: inherit;
}

/* Navigation Bar */
.nav-bar {
  background-color: #323232;
  margin: 0;
}
@media (min-width: 768px) {
  .nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 7.68vh;
  }
}
@media (min-width: 768px) {
  .nav-bar__smooth {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 92%;
    max-width: 112vh;
  }
}
@media (min-width: 1280px) {
  .nav-bar__smooth {
    width: 81vw;
    max-width: 90%;
  }
}
.nav-bar__eq {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 0.8rem;
}
@media (min-width: 768px) {
  .nav-bar__eq {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 7vw;
    max-height: 5.8vh;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 1.4rem;
    max-width: 40vh;
  }
}
.nav-bar__logo {
  font-weight: lighter;
  margin: 0;
  padding: 0;
  transition: 0.3s;
  color: #E1E1E1;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  letter-spacing: 0.04rem;
  margin: 0;
  font-weight: lighter;
}
.nav-bar__logo:hover {
  transform: scale(1.2);
  color: #FFFFFF;
}
@media (min-width: 768px) {
  .nav-bar__logo {
    font-size: 1.5rem;
  }
}
.nav-bar__items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  text-align: center;
  padding-top: 0.4rem;
  font-size: 0.875rem;
  width: 100%;
}
.nav-bar__items--left {
  padding: 0;
  border-bottom: 0.2rem solid #FFFFFF;
  padding-bottom: 0.6rem;
  width: 50%;
  font-weight: 500;
  color: #FFFFFF;
  transition: 0.8s;
}
.nav-bar__items--left:hover {
  font-weight: lighter;
  color: #AFAFAF;
}
.nav-bar__items--left:active {
  color: #FFFFFF;
}
@media (min-width: 768px) {
  .nav-bar__items--left {
    border: 0;
    -webkit-text-decoration: underline 0.188rem;
            text-decoration: underline 0.188rem;
    text-underline-offset: 1.62rem;
  }
}
.nav-bar__items--right {
  width: 50%;
  transition: 0.5s;
  color: #AFAFAF;
  border-bottom: 0.2rem solid #FFFFFF;
  padding-bottom: 0.6rem;
  width: 50%;
  font-weight: 500;
  border-color: #323232;
}
.nav-bar__items--right:hover {
  border-bottom: 0.2rem solid #FFFFFF;
  padding-bottom: 0.6rem;
  width: 50%;
  font-weight: 500;
  font-weight: lighter;
}
@media (min-width: 768px) {
  .nav-bar__items--right:hover {
    border: 0;
    -webkit-text-decoration: underline 0.188rem;
            text-decoration: underline 0.188rem;
    text-underline-offset: 1.62rem;
    border: 0;
  }
}
.nav-bar__items--right:active {
  border-bottom: 0.2rem solid #FFFFFF;
  padding-bottom: 0.6rem;
  width: 50%;
  font-weight: 500;
  color: #FFFFFF;
}
@media (min-width: 768px) {
  .nav-bar__items--right:active {
    border: 0;
    -webkit-text-decoration: underline 0.188rem;
            text-decoration: underline 0.188rem;
    text-underline-offset: 1.62rem;
    border: 0;
  }
}
@media (min-width: 768px) {
  .nav-bar__items--right {
    padding-bottom: 0.6rem;
  }
}
@media (min-width: 768px) {
  .nav-bar__items {
    width: 60%;
    max-width: 28vh;
    font-size: 0.875rem;
    padding-left: 2.4rem;
  }
}

/* Footer */
.footer {
  background-color: #323232;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
}
.footer__eq {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: start;
  width: 90%;
}
@media (min-width: 768px) {
  .footer__eq {
    width: 90%;
    max-width: 110vh;
  }
}
@media (min-width: 768px) {
  .footer__top--tablet {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    width: 100%;
  }
}
@media (min-width: 1280px) {
  .footer__top--tablet {
    max-width: 200vh;
  }
}
.footer h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  letter-spacing: 0.04rem;
  margin: 0;
  padding: 0;
  padding-top: 1.4rem;
  padding-bottom: 0.2rem;
}
@media (min-width: 768px) {
  .footer h2 {
    padding-top: 1rem;
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
    padding-left: 0;
    font-size: 2.2rem;
  }
}
.footer h4 {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.375rem;
}
.footer h4:nth-child(even) {
  margin-bottom: 1rem;
  margin-top: 0;
}
@media (min-width: 768px) {
  .footer h4:nth-child(even) {
    margin-bottom: 1.4rem;
  }
}
.footer h4:nth-child(odd) {
  margin-top: 1.2rem;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .footer h4:nth-child(odd) {
    margin-top: 0.8rem;
  }
}
@media (min-width: 768px) {
  .footer h4 {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
.footer p {
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-weight: 400;
}
@media (min-width: 768px) {
  .footer p {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
.footer p:nth-child(even) {
  margin-bottom: 0.8rem;
  margin-top: 0;
}
@media (min-width: 768px) {
  .footer p:nth-child(even) {
    padding-bottom: 0.6rem;
  }
}
.footer p:nth-child(odd) {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .footer p:nth-child(odd) {
    padding-left: 0;
  }
}
@media (min-width: 768px) {
  .footer__social {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
}
.footer__social--row {
  margin: 1rem 0;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .footer__social--row {
    margin: 0;
    padding-top: 1.2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 13.4vh;
    margin-left: 6%;
  }
}
.footer__social img {
  transition: 0.4s;
  margin-right: 1.6rem;
}
.footer__social img:hover {
  transform: scale(1.2);
}
@media (min-width: 768px) {
  .footer__social img {
    margin-right: 0;
  }
}
@media (min-width: 768px) {
  .footer__social {
    width: 60%;
  }
}
.footer__contact--email {
  font-size: 0.8rem;
}
@media (min-width: 1280px) {
  .footer__contact--email {
    font-size: 0.9rem;
  }
}
@media (min-width: 768px) {
  .footer__contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 96%;
    max-width: 77vh;
  }
}
@media (min-width: 1280px) {
  .footer__contact {
    width: 72%;
    max-width: 140vh;
  }
}
.footer__logo--mobile {
  margin-top: 4rem;
  font-size: 1.5rem;
  font-weight: lighter;
  margin-bottom: 0.2rem;
}
@media (min-width: 768px) {
  .footer__logo--mobile {
    display: none;
  }
}
.footer__logo--tablet {
  display: none;
  font-size: 1.5rem;
  font-weight: lighter;
}
@media (min-width: 768px) {
  .footer__logo--tablet {
    display: block;
    padding-top: 1.2rem;
  }
}
.footer__copyright {
  font-size: 0.625rem;
  line-height: 1.25rem;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .footer__copyright {
    margin-top: 3rem;
    font-size: 0.875rem;
    padding-bottom: 2.2rem;
    width: 90%;
    max-width: 64rem;
  }
}

/* Hero Section */
.hero {
  background-image: url("../assets/Images/hero-shows.jpg");
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 58vw;
  height: 82vw;
  max-height: 54vh;
}
@media (min-width: 768px) {
  .hero {
    height: 60vw;
    max-height: 64vh;
    padding-bottom: 2.2rem;
  }
}
.hero__overlay {
  background: rgba(40, 40, 40, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .hero__overlay {
    padding-bottom: 2.2rem;
  }
}
.hero__align {
  width: 90%;
}
@media (min-width: 768px) {
  .hero__align {
    padding: 1rem 0;
  }
}
@media (min-width: 1280px) {
  .hero__align {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin-top: 9.12rem;
  }
}
@media (min-width: 1280px) {
  .hero__align--sc {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
}
.hero__align--sc iframe {
  height: 28vw;
  max-height: 15vh;
  border-radius: 4px;
  width: 100%;
}
@media (min-width: 768px) {
  .hero__align--sc iframe {
    width: 62%;
    margin-top: 2.2rem;
  }
}
@media (min-width: 1280px) {
  .hero__align--sc iframe {
    width: 32vw;
  }
}
.hero__align--text h1 {
  padding: 1rem 0rem;
  color: #FFFFFF;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  letter-spacing: 0.04rem;
  margin: 0;
  width: 90%;
}
@media (min-width: 768px) {
  .hero__align--text h1 {
    font-size: 3.75rem;
    line-height: 4.25rem;
    padding: 0.8rem 0;
    max-width: 40rem;
  }
}
@media (min-width: 1280px) {
  .hero__align--text h1 {
    width: 40vw;
    max-width: 60rem;
  }
}
.hero__align--text h2 {
  color: #FFFFFF;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 300;
  margin: 0;
  margin-top: 1.8rem;
}
@media (min-width: 768px) {
  .hero__align--text h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    letter-spacing: 0.04rem;
    margin: 0;
    font-weight: 500;
    padding-top: 2.6rem;
  }
}

/* Shows Section */
.shows {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.shows__all {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  width: 90%;
  padding-bottom: 0.4rem;
}
@media (min-width: 768px) {
  .shows__all {
    padding-bottom: 1.14rem;
  }
}
@media (min-width: 1280px) {
  .shows__all {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-items: flex-start;
    width: 80%;
    justify-content: space-between;
  }
}
.shows__all h2 {
  margin: 1.6rem 0 1rem;
}
@media (min-width: 768px) {
  .shows__all h2 {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
    margin: 2.8rem 0 0.8rem;
  }
}
@media (min-width: 1280px) {
  .shows__all h2 {
    margin-top: 0.6rem;
  }
}
.shows__all hr {
  stroke-width: 1px #E1E1E1;
  width: 110%;
  position: relative;
  right: 1rem;
}
@media (min-width: 768px) {
  .shows__all hr {
    width: 100%;
    position: static;
    margin: 0;
  }
}
@media (min-width: 768px) {
  .shows__gone {
    display: none;
  }
}
.shows__invisible-row {
  display: none;
}
@media (min-width: 768px) {
  .shows__invisible-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid red;
    width: 100%;
    justify-content: space-between;
  }
}
@media (min-width: 768px) {
  .shows__invisible-row--eq {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 68%;
  }
}
@media (min-width: 768px) {
  .shows__invisible-row--venlo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 63.4%;
  }
}
.shows__invisible-row h3 {
  font-size: 0.66rem;
  font-weight: 500;
  color: #AFAFAF;
  margin: 0;
  margin-top: 0.6rem;
  padding-bottom: 0.2rem;
}
@media (min-width: 768px) {
  .shows__invisible-row h3 {
    margin-top: 1.7rem;
    padding-bottom: 0;
    font-size: 0.75rem;
  }
}
.shows__invisible-row p, .shows__invisible-row strong {
  color: #FFFFFF;
  margin: 0;
}
@media (min-width: 768px) {
  .shows__eq {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 68%;
  }
}
@media (min-width: 768px) {
  .shows__eq--venlo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 63.4%;
  }
}
.shows__boxes {
  width: 100%;
}
@media (min-width: 1280px) {
  .shows__boxes {
    width: 75%;
  }
}
@media (min-width: 768px) {
  .shows__boxes--first {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.shows__boxes--show {
  padding-top: 0.1rem;
  border: 1px solid green;
}
.shows__boxes--show:hover {
  background-color: #FAFAFA;
}
.shows__boxes--show:active {
  background-color: #E1E1E1;
}
@media (min-width: 768px) {
  .shows__boxes--show {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    text-align: start;
  }
}
.shows__boxes--show p {
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-weight: 400;
  margin: 0;
  padding-bottom: 0.2rem;
  padding-top: 0.2rem;
  border: 1px solid blue;
}
@media (min-width: 768px) {
  .shows__boxes--show p {
    padding: 1.5rem 0rem;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
.shows__boxes--show button {
  width: 100%;
  background-color: #323232;
  color: #FFFFFF;
  border-radius: 4px;
  height: 2.5rem;
  margin-top: 1rem;
  border: 0;
  font-weight: 500;
  font-size: 0.875rem;
  margin-bottom: 0.4rem;
}
@media (min-width: 768px) {
  .shows__boxes--show button {
    width: 10rem;
    margin: 0;
  }
}/*# sourceMappingURL=shows.css.map */