@use "./partials/variables" as *;
@use "./partials/mixins" as *;
@use "./partials/typography" as *;
@use "./partials/global";

/* Hero Section */

.hero {
    background-image: url("../assets/Images/hero-shows.jpg");
    margin: 0;
    @include hero;
    height: 82vw;
    max-height: 58.2vh;

    &__overlay {
        @include hero-overlay;
        @include column;

        &--align {
            width: 90%;

            & h1 {
                padding: 1rem 0rem;
                color: $white;
                @include mobile-header;
                width: 90%;
            }

            & h2 {
                color: $white;
                @include mobile-sub;
                font-weight: 300;
                margin: 0;
                margin-top: 1.8rem;
            }

            & iframe {
                height: 28vw;
            }
        }
    }

    @include tablet {
        height: 58.4vw;
    }

    @include desktop {
        height: 54vw;
    }
}

/* Shows Section */
.shows {
    @include column;

    &__all {
        @include column;
        align-items: flex-start;
        width: 90%;
        border: 1px solid red;
        padding-bottom: .4rem;

        & h2 {
            margin: 1.6rem 0 1.4rem;
        }

        & hr {
            position: relative;
            right: 2rem;
            border-top: 1px solid $mercury;
            width: 120%;
        }
    }

    &__boxes{
        width: 100%;
        border: 1px green solid;

        &--show {
            padding-top: .1rem;

            &:hover {
                background-color: $alabaster;
            }

            &:active {
                background-color: $mercury;
            }

            & h3 {
                font-size: .66rem;
                font-weight: 500;
                color: $silver;
                margin: 0;
                margin-top: .6rem;
                padding-bottom: .2rem;
            }

            & time {
                @include mobile-sub;
                font-size: .813rem;
            }

            & p {
                @include mobile-par;
                margin: 0;
                padding-bottom: .2rem;
                padding-top: .2rem;
            }

            & button {
                width: 100%;
                background-color: $bandsite__black;
                color: $white;
                border-radius: 4px;
                height: 2.6rem;
                margin-top: 1rem;
                border: 0;
                font-weight: 500;
                font-size: $sub-mob;
                margin-bottom: .4rem;
            }
        }
    }
}