@use "./partials/variables" as *;
@use "./partials/mixins" as *;
@use "./partials/typography" as *;
@use "./partials/global";

/* Hero Section */

.hero {
    background-image: url("../assets/Images/hero-shows.jpg");
    margin: 0;
    @include hero;
    height: 36vh;


    &__overlay {
        @include hero-overlay;
        @include column;


        &--align {
            width: 90%;

            & h1 {
                padding: 1rem 0rem;
                color: $white;
                @include mobile-header;
                width: 90%;
            }

            & h2 {
                color: $white;
                @include mobile-sub;
                font-weight: 300;
                margin: 0;
                margin-top: 1.8rem;
            }

            & iframe {
                height: 12vh;;
            }
        }
    }

    @include tablet {
        height: 58.4vw;
    }

    @include desktop {
        height: 54vw;
    }
}

/* Shows Section */
.shows {
    @include column;

    &__all {
        @include column;
        align-items: flex-start;
        width: 90%;
        border: 1px solid red;
    }

    &__boxes{
        width: 100%;
        border: 1px green solid;

        &--show {
            & h3 {
                font-size: .68rem;
                font-weight: 500;
                color: $silver;
                margin: .4rem 0;
            }
        }
    }
}