@use "./partials/variables" as *;
@use "./partials/mixins" as *;
@use "./partials/typography" as *;
@use "./partials/global";

/* Hero Section */

.hero {
    background-image: url("../assets/Images/hero-shows.jpg");
    margin: 0;
    @include hero;
    height: 82vw;
    max-height: 54vh;

    @include tablet {
        height: 60vw;
        max-height: 64vh;
        padding-bottom: 2.2rem;
    }

    &__overlay {
        @include hero-overlay;
        @include column;

        @include tablet {
            padding-bottom: 2.2rem;
        }
    }

    &__align {
        width: 90%;

        @include tablet {
            padding: 1rem 0;
        }

        @include desktop {
            @include row;
            justify-content: space-between;
            width: 80%;
            margin-top: 9.12rem;
        }

        &--sc {
            @include desktop {
                @include row;
                justify-content: flex-end;
            }
        }

        &--frame {
            height: 28vw;
            max-height: 15vh;
            border-radius: 4px;
            width: 100%;

            @include tablet {
                width: 62%;
                margin-top: 2.2rem;
            }

            @include desktop {
                width: 32vw;
            }
        }
    }

    &__text {
        &--big {
            padding: 1rem 0rem;
            color: $white;
            @include mobile-header;
            width: 90%;

            @include tablet {
                @include page-header--tablet;
                padding: 0.8rem 0;
                max-width: 40rem;
            }

            @include desktop {
                width: 40vw;
                max-width: 60rem;
            }
        }

        &--sub {
            color: $white;
            @include mobile-sub;
            font-weight: 300;
            margin: 0;
            margin-top: 1.8rem;

            @include tablet {
                @include mobile-header;
                font-weight: 500;
                padding-top: 2.6rem;
            }
        }
    }
}

/* Shows Section */
.shows {
    @include column;

    &__all {
        @include column;
        align-items: flex-start;
        width: 90%;
        padding-bottom: 0.4rem;

        @include tablet {
            padding-bottom: 1.42rem;
        }

        @include desktop {
            @include row;
            align-items: flex-start;
            width: 80%;
            justify-content: space-between;
            margin: 2.4rem 0 1.6rem;
        }

        &--heading {
            margin: 1.6rem 0 1rem;

            @include tablet {
                @include section-header--tablet;
                margin: 2.8rem 0 0.8rem;
            }

            @include desktop {
                margin-top: 0.6rem;
            }
        }
    }

    &__invisible-row {
        display: none;

        @include tablet {
            @include row;
            width: 100%;
            justify-content: space-between;
        }

        @include desktop {
            padding-bottom: 1.4rem;
        }

        &--eq {
            @include tablet {
                @include row;
                justify-content: space-between;
                width: 68%;
            }

            @include desktop {
                width: 72.8%;
            }
        }

        &--venlo {
            @include tablet {
                @include row;
                justify-content: space-between;
                width: 63.4%;
            }

            @include desktop {
                width: 52%;
            }
        }

        &--label {
            @include shows-h3;

            @include tablet {
                margin-top: 1.7rem;
                padding-bottom: 0;
                font-size: 0.75rem;
            }

            &:last-child {
                @include tablet {
                    padding-right: 3.6rem;
                }
            }
        }

        &--accessibility-label {
            color: $white;
            margin: 0;
        }
    }

    &__eq {
        @include tablet {
            @include row;
            justify-content: space-between;
            width: 68%;
        }

        @include desktop {
            width: 72%;
        }

        &--venlo {
            @include tablet {
                @include row;
                justify-content: space-between;
                width: 63.4%;
            }

            @include desktop {
                width: 52%;
            }
        }
    }

    &__container {
        width: 100%;

        @include desktop {
            width: 75%;
        }

        &--first {
            @include tablet {
                @include column;
            }
        }
    }

    &__gone {
        @include shows-h3;

        @include tablet {
            display: none;
        }
    }

    &__show {
        padding-top: 0.1rem;

        &:hover {
            background-color: $alabaster;
        }

        &:active {
            background-color: $mercury;
        }

        @include tablet {
            @include row;
            width: 100%;
            align-items: center;
            justify-content: space-between;
            text-align: start;
            border-bottom: .1rem solid $mercury;
        }

        &--date {
            @include mobile-sub;
            font-size: 0.813rem;

            @include tablet {
                font-size: 0.875rem;
            }
        }

        &--par {
            @include mobile-par;
            margin: 0;
            padding-bottom: 0.2rem;
            padding-top: 0.2rem;

            @include tablet {
                padding: 1.5rem 0rem;
                @include body-tab;
            }
        }

        &--button {
            width: 100%;
            background-color: $bandsite__black;
            color: $white;
            border-radius: 4px;
            height: 2.5rem;
            margin-top: 1rem;
            border: 0;
            font-weight: 500;
            font-size: $sub-mob;
            margin-bottom: 0.4rem;

            @include tablet {
                width: 10rem;
                margin: 0;
            }

            @include desktop {
                width: 9.4rem;
            }
        }
    }
}
